<%- include('layouts/header') %> 
<%- include('layouts/nav') %>

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sequi itaque qui perspiciatis. Quae, sit odio eos libero nesciunt, sed dolore aspernatur corporis aliquid enim sint distinctio quidem laudantium fugit soluta voluptate! Odit fugit est eligendi sint et autem rem, unde sapiente laborum quaerat eaque quo aut, necessitatibus at ullam cupiditate quibusdam excepturi sit voluptatum commodi incidunt deserunt veritatis obcaecati qui? Sunt id beatae, cupiditate sed voluptatem, dolore placeat officia nobis ipsum possimus eius quod eos fuga consectetur unde laboriosam quas maiores nihil magni esse qui amet eum! Et culpa laboriosam aperiam id fugiat velit libero fuga adipisci repellat cupiditate.</p>

<%- include('layouts/footer') %> 